.connect {
  position: absolute;
}

@media only screen and (max-width: 800px) {
  #showBig {
    display: none !important;
  }
}

@media only screen and (min-width: 800px) {
  #showsmall {
    display: none !important;
  }
}
