#sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0px;
    height: 100vh;
    margin-right: 30px;
}

.sidebar-header {
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: noWrap;
};

.badge {
    padding: 3px 6px;
    font-size: 9px;
    letter-spacing: 1px;
    border-radius: 15px;
        &.red {
            color: #ffffff;
            background: #d63030;
        }
        &.gray {
            color: #ffffff;
            background: #777777;
        }
        &.yellow {
            color: #000000;
            background: #ffd331;
        }
}